body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav h2 {
    color: #38bdf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #38bdf8;
}

/* Sections */
section {
    padding: 80px 50px;
    text-align: center;
}

/* Home */
#home h1 {
    font-size: 40px;
}

#home p {
    color: #94a3b8;
}

/* Projects */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

/* Contact */
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    section {
        padding: 40px 20px;
    }
}
html {
    scroll-behavior: smooth;
}
section {
    padding: 80px 50px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
button:hover {
    background: white;
}
